.services {
    padding: 30px 0 0 0;
    
    &-content {
        border-bottom: 2px solid #cca03f;
    }

    &-title {
        text-align: center;
        color: #cca03f;
        font-size: 35px;
        text-transform: uppercase;
    }

    &-text {
        text-align: center;
        color: #cca03f;
        font-size: 19px;
        font-weight: 700;
        line-height: 2;
        margin-bottom: 50px;
    }
}