footer#main-footer.main-footer
  .container
    button.main-footer-btn Получите бесплатную консультацию
    p.main-footer-text.
      Оставьте свои контактные данные
      и наш эксперт свяжется с вами в течении 24 часов
    form.main-footer-form(action="")
      input.main-footer-input(type="text" placeholder="Ваше имя")
      input.main-footer-input(type="tel" placeholder="Ваш телефон")
      input.main-footer-input(type="email" placeholder="Ваш e-mail")
      input.main-footer-input(type="text" placeholder="Получите код")
    ul.main-footer-list
      li.main-footer-item
      li.main-footer-item
      li.main-footer-item
    ul.main-footer-social
      li.main-footer-vk
        a(href="#").main-footer-vk-link
      li.main-footer-tw
        a(href="#").main-footer-tw-link
      li.main-footer-inst
        a(href="#").main-footer-inst-link
      li.main-footer-fb
        a(href="#").main-footer-fb-link