header.page-header
    .container
        .header-content
            .logo
                a.logo-link(href='#')
                    img.logo-pic(src="img/logo_buta.png", alt="Логотип")
            nav.main-nav
                button.main-nav__btn Меню
                ul.main-nav__list
                    li.main-nav__item
                        a.main-nav__link(href="#services") Наши услуги
                    li.main-nav__item
                        a.main-nav__link(href="#advantage") Преимущества
                    li.main-nav__item
                        a.main-nav__link(href="#") Отзывы
                    li.main-nav__item
                        a.main-nav__link(href="#products") Асортимент
                    li.main-nav__item
                        a.main-nav__link(href="#main-footer") Контакты
            .widget-wrap
                span.phone +90 539 726 3404
                button.btn-phone Заказать звонок