mixin products-item(imgSource, imgAlt, text)
    li.products-item
        img.products-pic(src=imgSource, alt=imgAlt)
        span.products-item-text=text

section.products
    ul.products-list
        h2.products-list-title Зерновые культуры и корма
        +products-item('img/grain-1.png', 'Фрезерная и кормовая пшеница', 'Фрезерная и кормовая пшеница')
        +products-item('img/grain-2.png', 'Желтая кукуруза', 'Желтая кукуруза')
        +products-item('img/grain-3.png', 'Корм ячменя', 'Корм ячменя')
        +products-item('img/grain-4.png', 'Сорго и Корм Овес', 'Сорго и Корм Овес')
        +products-item('img/grain-5.png', 'Мука сои и рапса', 'Мука сои и рапса')
        +products-item('img/grain-6.png', 'DDGS & Гранулыиз сахарной свеклы', 'DDGS & Гранулыиз сахарной свеклы')
        +products-item('img/grain-7.png', 'Подсолнечнаямука и просо', 'Подсолнечнаямука и просо')
        +products-item('img/grain-8.png', 'Пшеничные отруби', 'Пшеничные отруби')
    ul.products-list
        h2.products-list-title Масличные культуры
        +products-item('img/grain-9.png', 'Соевые бобы', 'Соевые бобы')
        +products-item('img/grain-10.png', 'Рапс', 'Рапс')
        +products-item('img/grain-11.png', 'Семена горчицы', 'Семена горчицы')
        +products-item('img/grain-12.png', 'Льняное семя', 'Льняное семя')
        +products-item('img/grain-13.png', 'Семена подсолнечника', 'Семена подсолнечника')
        +products-item('img/grain-14.png', 'Семена кунжута', 'Семена кунжута')
        +products-item('img/grain-15.png', 'Семена нигера', 'Семена нигера')
        +products-item('img/grain-16.png', 'Арахис', 'Арахис')
    ul.products-list
        h2.products-list-title Бобовые
        +products-item('img/grain-17.png', 'Красная чечевицаи зеленая чечевица', 'Красная чечевицаи зеленая чечевица')
        +products-item('img/grain-18.png', 'Кабули и Дези Нут', 'Кабули и Дези Нут')
        +products-item('img/grain-19.png', 'Желтый горошеки зеленый горошек', 'Желтый горошеки зеленый горошек')
        +products-item('img/grain-20.png', 'Зеленые бобы мунг', 'Зеленые бобы мунг')
        +products-item('img/grain-21.png', 'Красная фасоль', 'Красная фасоль')
        +products-item('img/grain-22.png', 'Белая гороховая фасоль', 'Белая гороховая фасоль')
        +products-item('img/grain-23.png', 'Голубь (корова) горох', 'Голубь (корова) горох')
        +products-item('img/grain-24.png', 'Фасоль борлоттии черный глаз', 'Фасоль борлоттии черный глаз')
    ul.products-list
        h2.products-list-title Сахар и рис
        +products-item('img/grain-25.png', 'Белый сахар', 'Белый сахар')
        +products-item('img/grain-26.png', 'Рафинированный сахар', 'Рафинированный сахар')
        +products-item('img/grain-27.png', 'Рис длиннозерный', 'Рис длиннозерный')
        +products-item('img/grain-28.png', 'Средний рис', 'Средний рис')
        +products-item('img/grain-29.png', 'Короткий рис', 'Короткий рис')
        +products-item('img/grain-30.png', 'Рис пропаренный (жасмин)', 'Рис пропаренный (жасмин)')