section#services.services
    .container
        .services-content
            h3.services-title Наши услуги
            p.services-text.
                Реализуем зерновые культуры из стран СНГ в странах Ближнего Востока и по всему миру.
                Осуществление экспортных поставок сельскохозяйственной продукции: рис, чечевица, нут, пшеница, кукуруза, ячмень.